* {
    font-family: 'Alegreya', serif;
}
ul {
    list-style: none;
}
a {
    text-decoration: none;
    color: black;
}
h2 {
    margin-top: 0;
    margin-left: 2em;
    margin-bottom: 0;
}
html {
    width: 100%;
    min-width: 500px;
}
/* main containing element, flexbox with column layout */ 
body {
    width: 95%;
    height: 130%;
    min-height: 130%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    clear: both;
    background: linear-gradient(whitesmoke, #ade1ff);
    background-repeat: no-repeat;
    background-attachment: fixed;
}
/* styling all the direct elements of body */ 
body > * {
    margin-left: auto;
    margin-right: auto;
}
/* Header element with flex layout and gradient background */ 
header {
    min-width: 100%;
    min-height: 7.5em;
    max-height: 7.5em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background: linear-gradient(whitesmoke, lightskyblue); /* gradient background */ 
    box-shadow: 5px 2px 5px #222;
}
header > * {
    min-width: 25%;
    box-sizing: border-box;
}
#navabout {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
header a {
    padding: 0.5em;
    font-size: 120%;
    font-weight: bold;
    text-decoration: none;
    color: black;
}
header a:hover {
    background: whitesmoke;
}
header h1{
    font-size: 300%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
#logInForm {
    margin-top: 1em;
    margin-right: 1em;
    display: flex;
    flex-direction: column;
}
#logInForm input {
    width: 200px;
}
#logInForm > * {
    align-self: flex-end;
}
main {
    min-width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}
#mainTop {
    min-height: 4em;
    display: flex;
    justify-content: flex-start;
    margin-left: 3%;
}
#search {
    display: flex;
    justify-content: flex-start;
}
#search > * {
    height: 2em;
    align-self: flex-end;
}
#mainContent {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;  
    justify-content: space-between;
}
#newMoviesSection {
    width: 100%;
    max-height: 45%;
    min-height: 28%;
    height: 45%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: lightskyblue;
    box-shadow: 5px 4px 5px #222;
    margin-bottom: 1em;
}
#newMoviesSection h2 {
    align-self: flex-start;
}
#availableMovies {
    align-self: flex-start;
    display: flex;
    justify-content: flex-start;
    overflow-x: auto;
    margin-left: 3em;
}
.movie {
    min-width: 110px;
    max-width: 180px;
    box-sizing: border-box;
    margin-bottom: 1em;
    padding: 0.5em;
    margin-right: 0.2em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: flex-start;
    box-shadow: 5px 4px 5px #222;
    background: lightskyblue;
}
.movie:hover {
    background: whitesmoke;
    box-shadow: none;
}
.movie a {
    text-decoration: none;
    color: black;
}
a img {
    height: 160px;
    align-self: center;
}
#infoAndSuggestions {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    min-width: 100%;
    min-height: 30%;
    margin-bottom: 1em;
}
#infoAndSuggestions > *{
    box-shadow: 5px 4px 5px #222;
    background: lightskyblue;
    padding: 1em;
    box-sizing: border-box;
}
#infoSection {
    width: 49%;
}
#infoSection p, #infoSection a {
    font-size: 140%;
    padding-left: 2em;
    max-width: 60%;
}
#suggestionSection {
    display: flex;
    flex-direction: column;
    width: 50%;
}
#suggestedItems {
    display: flex;
    flex-direction: row;   
}
.suggestedItem {
    box-shadow: 5px 4px 5px #222;
    padding: 1em;
    margin-bottom: 0.2em;
}
#additionalInfoSection {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    min-height: 35%;
    height: 35%;
    margin-bottom: 6em;
}
#ratingSection {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 25%;
    box-shadow: 5px 4px 5px #222;
    background: lightskyblue;
    margin-right: 1em;
    padding: 1em;
    padding-top: 0;
}
#theMovieToRate {
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-shadow: 5px 4px 5px #222;
    background: lightskyblue;
}
#theMovieToRateInfo {
    display: flex;
    flex-direction: row;
    padding: 1em;
    justify-content: flex-start;
    height: 100%;
    text-decoration: none;
    color: black;   
}
#theMovieToRateInfo:hover {
    background: white;
}
#theMovieToRateInfo img {
    height: 160px;
    margin-right: 1em;
    align-self: flex-start;
}
#ratingSystem {
    align-self: center;
}
fieldset { 
    border: none;
}
.rating > input { 
    display: none; 
} 
.rating > label:before { 
    font-size: 3em;
    content: '\2605';
}
.rating > label {  
    float: right; 
}
.rating > input:checked ~ label, /* uses Tilde to select all siblings*/
.rating:not(:checked) > label:hover, /* puts hover on previous siblings */
.rating:not(:checked) > label:hover ~ label { /* uses tilde to hover previous star labels */
    color: #FFC20F;  
} /* This was hard to get right */
button {
    margin: 0;
}
#borrowedSection {
    box-shadow: 5px 4px 5px #222;
    background: lightskyblue;
    width: 75%;
}
#borrowedSection > * {
    align-self: center;
}
#borrowedItems {
    display: flex;
    flex-direction: row;   
}
.borrowedItem {
    display: flex;
    justify-content: center;
    flex-direction: column;
    box-shadow: 5px 4px 5px #222;
    padding: 1em;
    margin-bottom: 0.2em;
    text-decoration: none;
    color: black; 
}
.borrowedItem:hover {
    background: whitesmoke;
    box-shadow: none;
}
.borrowedItem p {
    height: 2em;
    align-self: center;
    margin-top: auto;
    margin-bottom: auto;
    font-size: 120%;
}
.borrowedItem img {
    height: 200px;
}
@media screen and (max-width: 1180px) {
    #borrowedSection {
        width: 60%;
    }
    #ratingSection {
        width: 40%;
    }
}
@media screen and (max-width: 800px) {
    #mainContent > section {
        width: 100%;
        min-width: 100%;
        flex-direction: column;
        height: auto;
        min-height: auto;
    }
    #additionalInfoSection, #infoAndSuggestions {
        margin-bottom: 0;
    }
    #newMoviesSection {
        margin-bottom: 1em;
    }
    section {
        width: 100%;
        min-width: 100%;
        margin-bottom: 1em;
    }
    #theMovieToRateInfo {
        padding: 0;
    }
    #ratingSection {
        margin-right: 0;
        padding: 0;
        padding-left: 2em;
        box-sizing: border-box;
    }
    #logInForm input {
        width: 100px;
    }
}
@media screen and (max-height: 800px) {
    #mainContent > section {
        width: 100%;
        min-width: 100%;
        flex-direction: column;
        height: auto;
        min-height: auto;
    }
    #additionalInfoSection, #infoAndSuggestions {
        margin-bottom: 0;
    }
    #newMoviesSection {
        margin-bottom: 1em;
    }
    section {
        width: 100%;
        min-width: 100%;
        margin-bottom: 1em;
    }
    #theMovieToRateInfo {
        padding: 0;
    }
    #ratingSection {
        margin-right: 0;
        padding: 0;
        padding-left: 2em;
        box-sizing: border-box;
    }
    #logInForm input {
        width: 100px;
    }
}