* {
    font-family: 'Alegreya', serif;
}
html {
    width: 100%;
}
body {
    width: 80%;
    min-height: 100%;
    margin-right: 10%;
    margin-left: 10%;
    display: flex;
    flex-direction: column;
    clear: both;
    background: grey;
    background: linear-gradient(grey, whitesmoke);
    background-repeat: no-repeat;
    background-attachment: fixed;
}
header {
    min-width: 100%;
    min-height: 7em;
    max-height: 7.5em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background: grey;
    background: linear-gradient(darkgrey, grey);
    box-shadow: 5px 2px 5px #666;
}

#navabout {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

header a {
    padding: 0.5em;
    font-size: 120%;
    font-weight: bold;
    text-decoration: none;
    color: black;
}

header a:hover {
    background: whitesmoke;
}

header h1{
    margin-left: 1em;
    font-size: 300%;
}

#logInForm {
    margin-top: 1em;
    margin-right: 1em;
    display: flex;
    flex-direction: column;
}

#logInForm > * {
    align-self: flex-end;
}

main {
    min-width: 100%;
    margin-left: 5%;
    margin-right: 5%;
    display: flex;
    flex-direction: column;
}

#mainTop {
    min-height: 4em;
    display: flex;
    justify-content: flex-end;
    margin-left: 5%;
}

#search {
    display: flex;
    justify-content: center;
}

#search > * {
    height: 2em;
    align-self: flex-end;
}
#mainContent {
    width: 100%;
    display: flex;
    flex-direction: row;  
    justify-content: space-between;
}
#movieSection {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: linear-gradient(darkgrey, grey);
    box-shadow: 5px 4px 5px #666;
}
#movieSection > * {
    align-self: center;
}
.movie {
    max-height: 400px;
    max-width: 490px;
    box-sizing: border-box;
    margin-bottom: 2em;
    margin-right: 1em;
    margin-top: 1em;
    margin-left: 1em;
    padding-left: 0.5em;
    display: flex;
    flex-direction: column;
    box-shadow: 5px 4px 5px #666;
    background: linear-gradient(darkgrey, grey);
}
.movie:hover {
    background: whitesmoke;
    box-shadow: none;
}
.movie a {
    text-decoration: none;
    color: black;
}

.about {
    display: flex;
    flex-direction: row;
}

.description {
    max-width: 300px;
    margin-left: 1em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.about img {
    height: 300px;
}
#borrowedItems {
    box-shadow: 5px 4px 5px #666;
    background: linear-gradient(darkgrey, grey);
    width: 20%;
    padding-left: 1em;
}
#borrowedItems > * {
    align-self: center;
}
.borrowedItem {
    display: flex;
    justify-content: center;
    box-shadow: 5px 4px 5px #666;
    padding: 1em;
    margin-bottom: 0.2em;
}
.borrowedItem:hover {
    background: whitesmoke;
    box-shadow: none;
}
.borrowedItem a {
    display: flex;
    justify-content: space-around;
    width: 100%;
    text-decoration: none;
    color: black;
    
}
.borrowedItem a p {
    height: 2em;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: auto;
    margin-left: 1em;
    font-size: 120%;
}
.borrowedItem a img {
    height: 100px;
}

@media screen and (max-width: 1470px) {
    main {
        min-height: 100%;
    }
   #movieSection {

   }
}

@media screen and (max-width: 680px) {
   img {
       display: none;
   }
}