* {
    font-family: 'Alegreya', serif;
}
ul {
    list-style: none;
}
a {
    text-decoration: none;
    color: black;
}
h2 {
    margin-top: 0;
    margin-left: 2em;
    margin-bottom: 0;
}
html {
    width: 100%;
}
body {
    width: 95%;
    height: 130%;
    min-height: 130%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    clear: both;
    background: grey;
    background: linear-gradient(grey, whitesmoke);
    background-repeat: no-repeat;
    background-attachment: fixed;
}
body > * {
    margin-left: auto;
    margin-right: auto;
}
header {
    min-width: 100%;
    min-height: 7.5em;
    max-height: 7.5em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background: grey;
    background: linear-gradient(darkgrey, grey);
    box-shadow: 5px 2px 5px #666;
}

#navabout {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

header a {
    padding: 0.5em;
    font-size: 120%;
    font-weight: bold;
    text-decoration: none;
    color: black;
}

header a:hover {
    background: whitesmoke;
}

header h1{
    margin-left: 1em;
    font-size: 300%;
}

#logInForm {
    margin-top: 1em;
    margin-right: 1em;
    display: flex;
    flex-direction: column;
}

#logInForm > * {
    align-self: flex-end;
}

main {
    min-width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

#mainTop {
    min-height: 4em;
    display: flex;
    justify-content: flex-start;
    margin-left: 3%;
}

#search {
    display: flex;
    justify-content: flex-start;
}

#search > * {
    height: 2em;
    align-self: flex-end;
}

#mainContent {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;  
    justify-content: space-between;
}

#movieSection {
    width: 100%;
    max-height: 45%;
    min-height: 28%;
    height: 45%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: linear-gradient(darkgrey, grey);
    box-shadow: 5px 4px 5px #666;
    margin-bottom: 1em;
}

#movieSection h2 {
    align-self: flex-start;
}

#availableMovies {
    align-self: flex-start;
    display: flex;
    justify-content: flex-start;
    overflow-x: auto;
    margin-left: 3em;
}

.movie {
    min-width: 110px;
    max-width: 180px;
    box-sizing: border-box;
    margin-bottom: 1em;
    padding: 0.5em;
    margin-right: 0.2em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: flex-start;
    box-shadow: 5px 4px 5px #666;
    background: linear-gradient(darkgrey, grey);
}

.movie:hover {
    background: whitesmoke;
    box-shadow: none;
}

.movie a {
    text-decoration: none;
    color: black;
}

a img {
    height: 160px;
    align-self: center;
}
#infoAndSuggestions {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    min-width: 100%;
    min-height: 30%;
    margin-bottom: 1em;
}
#infoAndSuggestions > *{
    min-width: 49%;
    box-shadow: 5px 4px 5px #666;
    background: linear-gradient(darkgrey, grey);
    padding: 1em;
    box-sizing: border-box;
}
#infoSection {

}
#infoSection p {
    font-size: 140%;
}
#suggestionSection {
    display: flex;
    flex-direction: column;
}
#suggestedItems {
    display: flex;
    flex-direction: row;
}


#additionalInfoSection {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    min-height: 35%;
    height: 35%;
    margin-bottom: 6em;
}

#rateMovie {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 25%;
    box-shadow: 5px 4px 5px #666;
    background: linear-gradient(darkgrey, grey);
    margin-right: 1em;
    padding: 1em;
    padding-top: 0;
}

#theMovieToRate {
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-shadow: 5px 4px 5px #666;
    background: linear-gradient(darkgrey, grey);
}

#theMovieToRateInfo {
    display: flex;
    flex-direction: row;
    padding: 1em;
    justify-content: flex-start;
    height: 100%;
    text-decoration: none;
    color: black;
    
}

#theMovieToRateInfo:hover {
    background: white;
}

#theMovieToRateInfo img {
    height: 160px;
    margin-right: 1em;
    align-self: flex-start;
}

#ratingSystem {
    align-self: center;
}

fieldset { 
    border: none;
}

.rating > input { 
    display: none; 
} 

.rating > label:before { 
    font-size: 3em;
    content: '\2605';
}

.rating > label {  
    float: right; 
}


.rating > input:checked ~ label, /* uses Tilde to select all siblings*/
.rating:not(:checked) > label:hover, /* puts hover on previous siblings */
.rating:not(:checked) > label:hover ~ label { /* uses tilde to hover previous star labels */
    color: #FFC20F;  
} /* This was hard to get right */
button {
    margin: 0;
}
#borrowedSection {
    box-shadow: 5px 4px 5px #666;
    background: linear-gradient(darkgrey, grey);
    width: 75%;
    padding-left: 1em;
}
#borrowedSection > * {
    align-self: center;
}
#borrowedItems {
    display: flex;
    flex-direction: row;
    
}
.borrowedItem {
    display: flex;
    justify-content: center;
    flex-direction: column;
    box-shadow: 5px 4px 5px #666;
    padding: 1em;
    margin-bottom: 0.2em;
    text-decoration: none;
    color: black; 
}
.borrowedItem:hover {
    background: whitesmoke;
    box-shadow: none;
}
.borrowedItem p {
    height: 2em;
    align-self: center;
    margin-top: auto;
    margin-bottom: auto;
    font-size: 120%;
}
.borrowedItem img {
    height: 200px;
}

@media screen and (max-width: 1450px) {
    #additionalInfoSection {
        justify-content: center;
        flex-wrap: wrap;
    }
    #additionalInfoSection > * {
        width: 45%;
        max-width: 50%;
        box-sizing: border-box;
    }
    
}

@media screen and (max-width: 1180px) {
    #additionalInfoSection > * {
        width: 50%;
        min-width: 50%;
    }

}

@media screen and (max-width: 970px) {
    #additionalInfoSection {
        flex-direction: column;
        justify-content: flex-start;
        margin-left: 10%;
        margin-right: 10%;
        min-width: 80%;
        max-width: 80%;
    }
    #additionalInfoSection > * {
        min-width: 80%;
        margin-left: auto;
        margin-right: auto;
        align-self: center;
        
    }

}