html {
    width: 100%;
    min-width: 500px;
}
/* main containing element, flexbox with column layout */ 
body {
    width: 95%;
    height: 130%;
    min-height: 130%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    clear: both;
    background: linear-gradient(whitesmoke, #ade1ff);
    background-repeat: no-repeat;
    background-attachment: fixed;
}
/* styling all the direct elements of body */ 
body > * {
    margin-left: auto;
    margin-right: auto;
}
/* Header element with flex layout and gradient background */ 
header {
    min-width: 100%;
    min-height: 7.5em;
    max-height: 7.5em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background: linear-gradient(whitesmoke, lightskyblue); /* gradient background */ 
    box-shadow: 5px 2px 5px #222;
}
header > * {
    min-width: 25%;
    box-sizing: border-box;
}
#navabout {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
header a {
    padding: 0.5em;
    font-size: 120%;
    font-weight: bold;
    text-decoration: none;
    color: black;
}
header a:hover {
    background: whitesmoke;
}
header h1{
    font-size: 300%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
#logInForm {
    margin-top: 1em;
    margin-right: 1em;
    display: flex;
    flex-direction: column;
}
#logInForm input {
    width: 200px;
}
#logInForm > * {
    align-self: flex-end;
}
main {
    min-width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}
#searchResults {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}
#searchResults a {
    box-sizing: border-box;
    width: 49%;
    display: flex;
    box-shadow: 5px 4px 5px #222;
    padding: 1em;
    margin-bottom: 0.5em;
    background: lightskyblue;
    text-decoration: none;
    color: black;
}
#searchResults a:hover {
    background: whitesmoke;
}
#searchResults a img {
    height: 200px;
    margin-right: 1em;
}