
#mainContent {
 background-color: #447DB2;
 padding: 2em;
 width: 100%;
 margin-left: 0.5em;
 margin-right: 0.5em;
 margin-bottom: 0.5em;
 display: flex;
 flex-direction: row;
 justify-content: space-around;
 align-items: center;
}
#mainContent * {
 color: white;
}
#mainContent>section {
 flex: 1;
 max-width: 40%;
 min-height: 60%;
}

#about>h2,
#contact>h2 {
 font-size: 140%;
}
#contact>ul,
#about>ul {
 list-style: none;
 padding: 0;
}
#contact>ul>li {
 display: flex;
 align-items: center;

}
#about>ul>li>p,
#contact>ul>li>p {
 font-size: 125%; 
}
#contact>ul>li>img{
 height: 50px;
 widows: auto;
 margin-right: 1em;
 background: transparent;
}
#contact>ul>li>p>a {
 text-decoration: underline;
}
