/* Color scheme: https://color.adobe.com/create/color-wheel/?base=2&rule=Compound&selected=0&name=My%20Color%20Theme&mode=rgb&rgbvalues=0.42133309188351725,0.5744031465225125,0.8,0,0.24254042488219055,0.6,0.6266663648543965,0.974071915925044,1,1,0.9089918738002957,0.8766663648543965,0.8,0.2547976833397663,0.18307053557287062&swatchOrder=0,1,2,3,4 */ 

/* ----- Global Styling ----- */ 
* {
 box-sizing: border-box;
 font-family: 'Varela Round', sans-serif;

}
.bolder {
 font-weight: bold;
}

ul {
 list-style-type: square;
 color: white;
}
a {
 text-decoration: none;
 color: black;
}
a>p{
 color: white;
}
/* ----- Html, Body styling ----- */

html,
body {
 height: 100%;
 width: 100%;
 min-height: 100%;
 min-width: 100%;
 margin: 0;
 padding: 0;
}


/* ----- Header Section ----- */

header {
 max-width: 100%;
 min-width: 100%;
 box-sizing: border-box;
 background: whitesmoke;
 border-bottom: 5px solid #FF766E;
 
 padding-top: 1em;
 padding-bottom: 1em;
 position: fixed;
 display: flex;

}
#headerLogo {
 flex: 1;
}
#headerLogo>a>img {
 max-width: 130px;
 margin-left: 1em;
}
#headerText {
 flex: 5;

}
#headerText>a>h2 {
 margin-top: 0;
}

#headerText>a>h3 {
 margin-left: 5%;
}

nav {
 flex: 2;
 height: 50px;
 margin-right: 1em;
}
nav>* {
 font-size: 130%;
 text-decoration: none;
 padding: 0.5em;
 color: white;
 margin: 0.2em;
}
nav>*:hover {
 color: black;
}

#headerInfoLinks {
 display: flex;
 flex-direction: column;
}
#headerInfoLinks>*{
 background: #4487B2; 
}
#headerInfoLinks>*:hover {
 background: #9AB8CC;
}
#headerOrganizationLinks {
 display: flex;
 flex-direction: column;
 justify-content: space-between;
}
#headerOrganizationLinks>* {
 background: #4487B2;
}
#headerOrganizationLinks>*:hover {
 background: #9AB8CC;
}

main {
 display: flex;
 padding-top: 9em;
 margin-top: 0;
 min-height: 100%;
 width: 100%;
 background-color: #9AB4CC;
}