

/* ----- Main Section ----- */
#mainContent {
 flex: 8;
 display: flex;
 flex-direction: column;
 margin-left: 0.5em;
}
#picturesAndSign {
 display: flex;
 justify-content: space-between;
 background:	#447DB2;
}

#picturesAndSign>img {
 flex: 1;
 width: 500px;
 height: 275px;
 align-self: center;
 margin: 1em;
}
.signSection{
 flex: 2;
 display: flex;
 flex-direction: column;
 align-items: center;
 margin-top: 0;
 padding: 1em;
}


.signSection>h2 {
 margin-top: 0;
 margin-left: 3em;
 padding-top: 1em;
 color: white;
}
.signSection>h3 {
 margin-left: -5em;
 color: white;
 margin-top: 0;
 margin-bottom: 0;
}
.signSection>h4 {
 color: white;
 margin-left: -7em;
 margin-top: 0;
}
#signInput {
 margin-left: 0.7em;
}

.important {
 font-size: 120%;
 color: #F5FF87;
}

#signRequiredInfo {
 display: flex;
 flex-direction: column;
 padding-bottom: 0;
}
#signRequiredInfo>input,
#signInput>textarea {
 background: transparent;
 border: none;
 color: white;
 border-bottom: 1px solid white;
 font-size: 120%;
}

#signRequiredInfo>input:focus,
#signInput>textarea:focus {
 outline: none;
}
#signRequiredInfo>input::-webkit-input-placeholder,
#signInput>textarea::-webkit-input-placeholder{
 color: white;
}
#signRequiredInfo>input {
 max-width: 204px;
 margin-bottom: 1em;
}

#signRequiredInfo:last-child {
 margin-bottom: 0;
}

textarea[name=comment] {
 margin-top: 0;
 margin-left: 2px;
}

.signSection fieldset {
 border: none;
 padding-left: 0;
}

.signSection input[type=submit] {
 margin-left: 1.1em;
 background-color: #EE3F3F;
 min-width: 8em;
 min-height: 4em;
 border: none;

 padding: 8px 16px;
 -webkit-border-radius: 6px;
 -moz-border-radius: 6px;
 border-radius: 6px;
 -webkit-box-shadow: rgba(0, 0, 0, 1) 0 1px 0;
 -moz-box-shadow: rgba(0, 0, 0, 1) 0 1px 0;
 box-shadow: rgba(0, 0, 0, 1) 0 1px 0;
 text-shadow: rgba(0, 0, 0, .4) 0 1px 0;
 color: white;
 font-size: 15px;
 vertical-align: middle;
 cursor: pointer;
}

#commentsAndArticles {
 display: flex;
 margin-top: 0.5em;
 flex: 4;
 margin-bottom: 0.5em;
}

.testemonials {
 flex: 3;
 padding: 1em;
 margin-left: 0.5em;
 background:	#447DB2;
 margin-right: 0.5em;
}

.testemonials *{
 color: whitesmoke;
}

.testemonials>ul>li>h4{
 margin-top: 0.7em;
 margin-bottom: 0.7em;
 color: black;
}

.testemonials>ul>li>p {
 margin: 0.2em;
 margin-bottom: 0.3em;
 margin-left: 0.9em;
}

.testemonials>ul>li {
 border-bottom: 1px solid black;
 padding-bottom: 0.2em;
}
.relatedArticles {
 background:	#447DB2; 
 margin-right: 0.5em;
 padding: 1em;
 flex: 3;
}
#aboutMarijuana {
 flex: 4;
 padding: 1em;
 background:	#447DB2;
}
#aboutMarijuana>ul>li>p>.empasis{
 font-size: 120%;
 color: #EE3F3F;
}
#aboutMarijuana>.warning {
 font-size: 120%;
 text-align: center;
 color: white;
}
#aboutMarijuana>:last-child {
 font-size: 140%;
 color: #EE3F3F;
}