body {
  height: 100%;
  width: 100%;
  margin: 0 auto;
  float: none;
  max-width: 1080px;
}

#banner {
  display: block;
  margin-left: auto;
  margin-right: auto;


}

nav {
  background-color: #888;
  overflow:auto;
  margin-left: 2em;
  margin-right: 2em;
  text-align: center;
}

nav a {
  display: inline-block;
  color: white;
  padding: 1em 1.5em;
  text-decoration: none;
  border-right: 1px solid #bbb;
}

nav a:last-of-type {
  border-right: none;
}

nav a:hover {
  background-color: #111;
}

footer {
  position: fixed;
  bottom: 0px;
  text-align: center;
  width: 50%;
}
