* {
 box-sizing: border-box;
 font-family: 'Work Sans', sans-serif;
}
ul {
 list-style: none;
}
.finished>h5::before {
 content: "\2714";
}
.finished>h5 {
 color: green;
}

.next>h5::before {
 content: "\21aa";
}
.next>h5 {
 color: #DF0D0D;
}
html{
 width: 100%;
} 
body {
 display: flex;
 flex-direction: column;
 margin: 0;
 padding: 0;
}
#leftContent {
 display: flex;
 flex-direction: column;
 flex: 8;
}
header {
 min-height: 20%;
 flex: 1;
 padding: 1em;
 padding-right: 0;
 background: #316C95;
 display: flex;
 justify-content: space-between;
}
#headerText {
 margin-left: 3em;
}
#headerText>h1,
#headerText>h3 {
 color: white;
}
#headerText>h1 {
 font-size: 220%;
 margin-bottom: 0;
}
#headerText>h3 {
 font-size: 130%;
 margin-left: 2em;
}
header>img {
 height: 150px;
 background: white;
 padding: 1em;
 padding-right: 10em;
}
.organizationName {
 color: #DF0D0D;
}
main {
 flex: 6;
 display: flex;
 min-height: 70%;
 margin-bottom: 2em;
}
main>* {
 margin-left: 1em;
 margin-right: 1em;
}
main>h3{
 text-align: center;
 font-size: 180%;
}
#medicalCannabis {
 padding-left: 2em;
 padding-right: 2em;
 flex: 1;

 
}

#medicalCannabis>p {
 font-size: 110%;
 max-width: 90%;
}

#medicalCannabis>h3 {
 margin-top: 3em;
}
#peopleSection {
 flex: 1;
 display: flex;
 flex-direction: column;
 align-items: center;
 
}
#mainPerson {
 text-align: center;
}
#mainPerson {
 margin-top: 2em;
 padding: 0;
}
#mainPerson>h4{
 font-size: 130%;
 margin: 0;
}
#mainPerson>p{
 font-size: 140%;
 margin: 0;
}

#mainPerson>img {
 height: 230px !important;
 width: 210px !important;
 margin-bottom: 1em;
}
#moreExamples {
 width: 100%;
 margin-top: 1em;
 display: flex;
 flex-direction: row;
 padding-left: 0px;
 justify-content: center;

}
#moreExamples>.smallExample {
 justify-content: flex-start;
}
#moreExamples>li {
 flex: 1;
 display: flex;
 flex-direction: column;
 justify-content: space-between;
 text-align: center;
}
#moreExamples>li>h4,
#moreExamples>li>p {
 margin: 0;
}

#moreExamples>li>img {
 width: 105px;
 height: 120px;
 margin-left: auto;
 margin-right: auto;
}
#backgroundStory {
 width: 80%;
 margin-left: auto;
 margin-right: auto;
 font-size: 115%;
}

#donateAndGoals {
 flex: 1;
 display: flex;
 flex-direction: column;
 align-items: center;
}
#donate {
 text-align: center;
}
.progress {
 font-size: 120%;
 color: #DF0D0D;
}
#donateButton {
 height: 4em;
 cursor: pointer;

}
#donate>p{
 font-size: 110%;
}
#goalList {
 max-width: 90%;
 margin-right: auto;
 margin-left: auto;
}
#goalList>li>h5 {
 margin: 0;
 font-size: 130%;
}
#ourGoals>h2 {
 text-align: center;
 margin-bottom: 0.5em;
 margin-top: 1.5em;
}
#goalList>li>p {
 margin-left: 1em;
}
#goalList>li>p {
 margin-top:0;
}

footer {
 background: #EEE;
 flex:1;
 min-height: 20%;
 width: 100%;
 display: flex;
 justify-content: center;
 align-self: center;
 padding-top: 2em;

}

#aboutUs,
#contact,
#companies {
 flex: 1;
 text-align: center;
 padding-bottom: 2em;
 margin-left: 1em;
 margin-right: 1em;
}
#companies {
 flex: 2;
 margin-left: 2em;
 margin-right: 2em;
}
#aboutUs>p,
#contact>p{

 margin-left: auto;
 margin-right: auto;
}
#companySection {
 display: flex;
 flex-direction: column;
 align-self: center;

}
#companyList {
 display: flex;
 padding: none;
 padding-left: 0px;
 justify-content: space-around;
}
#companyList>li {
 align-self: center;
}
#companyList>li>a>img{
 width: 130px;
}