* {
 box-sizing: border-box;
 font-family: 'Work Sans', sans-serif;
}
ul {
 list-style: none;
}
.finished>h5::before {
 content: "\2714";
}
.finished>h5 {
 color: green;
}

.next>h5::before {
 content: "\21aa";
}
.next>h5 {
 color: #DF0D0D;
}
html{
 width: 100%;
} 
body {
 display: flex;
 flex-direction: column;
 margin: 0;
 padding: 0;
}
#leftContent {
 display: flex;
 flex-direction: column;
 flex: 8;
}
header {
 flex: 1;
 padding: 1em;
 padding-right: 0;
 background: #316C95;
 display: flex;
 justify-content: space-between;
}
#headerText {
 margin-left: 3em;
}
#headerText>h1,
#headerText>h3 {
 color: white;
}
#headerText>h1 {
 font-size: 220%;
 margin-bottom: 0;
}
#headerText>h3 {
 font-size: 130%;
 margin-left: 2em;
}
header>img {
 height: 150px;
 background: white;
 padding: 1em;
}
.organizationName {
 color: #DF0D0D;
}
main {
 flex: 5;
 display: flex;
}
main>* {
 flex: 1;
}
main>h3{
 text-align: center;
 font-size: 180%;
}
#medicalCannabis {
 flex: 1;
 display: flex;
 flex-direction: column;
 align-items: center;
 justify-content: flex-start;
 
}
#listOfFacts>li {
 margin-bottom: 1.5em;
}
#peopleSection {
 flex: 1;
 display: flex;
 flex-direction: column;
 align-items: center;
 
}
#mainPerson {
 text-align: center;
}
#mainPerson {
 padding: 0;
}
#mainPerson>h4{
 font-size: 130%;
 margin: 0;
}
#mainPerson>p{
 font-size: 140%;
 margin: 0;
}

#mainPerson>img {
 height: 240px;
}
#mainPerson>.patientExplanation {
 margin-bottom: 0.5em;
 margin-top: 0.5em;
 font-size: 110%;
 text-align: left;
}
#moreImages {
 width: 400px;
 display: flex;
 padding-left: 0px;
 align-items: center;
 justify-content: space-around;

}
#moreImages>li>a {
 height: 130px;
}
#moreImages>li>
#donateAndGoals {
 flex: 1;
 display: flex;
 flex-direction: column;
 align-items: center;


}
#donate {
 text-align: center;
}
.progress {
 font-size: 120%;
 color: #DF0D0D;
}
#donate>h4,
#ourGoals>h4 {
 font-size: 150%;
}
#donateButton {
 height: 4em;
 cursor: pointer;

}
#donate>p{
 font-size: 110%;
}
#goalList {
 max-width: 90%;
 margin-right: auto;
 margin-left: auto;
}
#goalList>li>h5 {
 margin: 0;
 font-size: 130%;
}
#ourGoals>h4 {
 text-align: center;
 margin-bottom: 0.5em;
 margin-top: 0.5em;
}
#goalList>li>p {
 margin-left: 1em;
}
#goalList>li>p {
 margin-top:0;
}
footer {
 flex:1;
 display: flex;
 flex-direction: column;
 align-self: center;

}
#organizationInfo{
 display: flex;
 justify-content: space-around;
}
#aboutUs,
#contact,
#companies {
 flex: 1;
 text-align: center;
 margin-bottom: 2em;
}
#aboutUs>p,
#contact>p{
 width: 70%;
 margin-left: auto;
 margin-right: auto;
}
#companySection {
 display: flex;
 flex-direction: column;
 align-self: center;

}
#companyList {
 display: flex;
 padding: none;
 padding-left: 0px;
 justify-content: space-around;
}
#companyList>li {
 align-self: center;
}
#companyList>li>a>img{
 width: 120px;
}