/* CSS for header since all sites have the same header*/
header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: #436B7F;
    width: 100%;
    padding-right: 0;
    margin-right: 0;
    margin-left: auto;
    margin-right: auto;
}

header>h1 {
    align-self: center;
    margin-top: 0;
    margin-bottom: 0;
    padding-top: .4em;
    padding-bottom: .2em;
    color: whitesmoke;
}

header>nav {
    text-align: center;
    width: 100%;
    max-width: 20em;
    margin-left: auto;
    margin-right: auto;
}

header>nav>li {
    list-style: none;
    padding-bottom: 3px;
    border-bottom: 2px solid black;
    font-size: 140%;
    color: whitesmoke;
}

header>nav>li:last-of-type {
    border-bottom: none;
}

header>nav>li:hover,
header>nav>li:hover>a{
    background: whitesmoke;
    color: black;
}

header>nav>li>a {
    text-decoration: none;
    color: whitesmoke;
}

header>nav>li>ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

header>nav>li>ul>a,
header>nav>li>ul>li>p {
    text-decoration: none;
    font-size: 0.9em;
    color: black;
}


header>nav>li>ul>li>p {
    margin: 0.2em;
}

input[type=checkbox] {
    display: none;
}

li>ul,
li>form {
    display: none;
}

input[type=checkbox]:checked~form {
    display: block
}

input[type=checkbox]:checked~#profileOptions {
    display: flex;
    flex-direction: column;
}
/* Changes the color when the user is not hovering but the checkbox is checked for links */
li:not(:hover)>input[type=checkbox]:checked~#profileOptions>a {
    color: white;
}
/* Changes the color again when the user is hovering */
#profileOptions>a:hover {
    background: #222;
    color: white;
}
li>label {
    display: block;
}

@media screen and (min-width:900px) {
    header {
        width: 75%;
    }
}