body {
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  background-color: #FEE8D6;
}
header {
  display: inline;
  width: 100%;
}

.pictureFrames {
  max-width: 150%;
  break-after: always;
  float: left;
  clear:both;
}

#cssChangeButton {
  float: right;
}
