body {
  background: #46A4D1;
  background: -webkit-linear-gradient( #FFF76E,#46A4D1); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#FFF76E,#46A4D1); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#FFF76E,#46A4D1); /* For Firefox 3.6 to 15 */
  background: linear-gradient(#FFF76E,#46A4D1); /* Standard syntax */
}
main {
  opacity: 1;
  width: 60%;
  margin-left: 20%;
  margin-right: 20%;
}

header {
  width: 100%;
  text-align: center;
}
header button {
  float: left;
  position: absolute;
  left: 0px;
  top: 0px;
  border-bottom-right-radius: 40%;
  background: #D2BB2E;
  font-size: 1.2em;
  text-align: center;
  color: black;
  width: 8em;
  height: 4em;
  opacity: 1;
}
header button:active {
  background: #111111;
  color: white;
}
section h1 {
  text-align: center;
  font-family: 'Handlee', cursive;
}
.pictureFrames {
  max-width: 665px;
  min-width: 325px;
  height: auto;
  margin-bottom: 5%;
  border-bottom: 1px solid black;
  text-align: center;
  overflow: hidden;
  margin-left: auto;
  margin-right: auto;
}
.pictureFrames:first-of-type {
  border-top: 2px solid black;
}
section img {
  border-radius: 10%;
  margin-left: auto;
  margin-right: auto;
  clear: left;
  margin-bottom: 2em;
  width: 80%;
  max-width: 530px;
}
section p {
  float: left;
  clear: right;
  margin-left: 4em;
  margin-bottom: 3em;
  min-width: 300px;
  font-size: 1.3em;
  font-family: 'Oleo Script', cursive;
}
footer {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  position: static;
  bottom: 1px;
  width: 100%;
}
