body {
  width: 60%;
  margin-left: 20%;
  margin-right: 20%;
  background-color: #eee;
}

header {
  width: 100%;
  text-align: center;
}
header h1 {
  text-align: center;
}
header button {
  float: right;
  position: absolute;
  right: 0px;
  top: 0px;
  border-bottom-left-radius: 40%;
  background: #f1c40f;
  font-size: 1.2em;
  text-align: center;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
  color: black;
  width: 8em;
  height: 4em;
  opacity: 0.4;
}
header button:active {
  background: #e74c3c;
  color: white;
}
section h1 {
  text-align: center;
  font-family: 'Oleo Script', cursive;
}
.pictureFrames {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5%;
  height: auto;
  clear: both;
  border-bottom: 1px solid black;
  overflow: hidden;
  max-width: 665px;
  min-width: 325px;
  text-align: center;
}
.pictureFrames:first-of-type {
  border-top: 2px solid black;
}
section img {
  border-radius: 10%;
  margin-left: auto;
  margin-right: auto;
  clear: left;
  margin-bottom: 2em;
  width: 80%;
  max-width: 530px;
}
p {
  float: right;
  text-align: center;
  clear: right;
  margin-right: 15%;
  margin-bottom: 3em;
  min-width: 300px;
  font-size: 1.2em;
  font-family: 'Oleo Script', cursive;
}
footer {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  position: static;
  bottom: 1px;
  width: 100%;

}

@media (max-width: 940px) {
  p {
    float: none;
    margin-right: 5%;
    font-size: 1em;
  }
  section img {
    float: none;
    margin-left: 5%;
  }
  header button {
    font-size: 1em;
    width: 6em;
    height: 3em;
  }

}
@media (max-width: 600px) {
  body {
    margin-left: auto;
    margin-right: auto;
  }
  header {
    text-align: center;
  }
  header button {
    font-size: 0.8em;
    width: 6em;
    height: 3em;
    opacity: 0.4;
  }
}
@media (max-width: 460px) {
  body {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
  }
  header button {
    font-size: 0.8em;
    width: 8em;
    height: 2em;
    opacity: 0.4;
  }
  .pictureFrames {
    margin-left: 0;
    min-width: 200px;
    text-align: none;
  }
  p {
    margin-right: 0;
  }
}
