/* CSS for index site */
main>section>h2 {
    margin: 0;
    padding: 0;
    text-align: center;
}
.imageText {
    position: relative;
    top: -100px;
    max-width: 120px;
    z-index: 1;
    text-align: center;
    font-size: 110%;
    opacity: -1;
}



/* For each unordered list that is a direct child of a section */

#newMovies,
#recentMovies,
#suggestedMovies {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    padding: 0.2em;
    padding-top: 0;
    margin-top: 0;
    overflow-y: visible;
    margin-left: 5%;
    margin-right: 5%;
}

#newMovies>li,
#recentMovies>li,
#suggestedMovies>li {
    list-style: none;
    padding: 0.3em;
}

#newMovies>li>a>img,
#recentMovies>li>a>img,
#suggestedMovies>li>a>img {
    height: 150px;
    min-height: 150px;
    max-width: 120px;
    overflow: hidden;
    transition: all 1s ease;
}


/* Makes the image pop out enlarged in all sections */

#newMovies>li>a>img:hover,
#recentMovies>li>a>img:hover,
#suggestedMovies>li>a>img:hover {
    transform: scale(1.6);
    z-index: 101;
    margin-left: .8em;
    margin-right: .8em;
    overflow: visible;
    opacity: 0;
}
.movieLists {
    display: flex;
    min-width: 100%;
    justify-content: space-between
}
.movieLists>p {
    font-size: 400%;
    margin-top: auto;
    margin-bottom: auto;
}
.arrow:hover {
    cursor: hand; cursor: pointer;
}
#ratingSection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    border-bottom: 1px solid #000;
}

#ratingSection>section>a>img {
    height: 150px;
    max-width: 100px;
    transition: all 1s ease;
}

#ratingSection>section>a>img:hover {
    transform: scale(1.1);
}

#rateMovie {
    display: flex;
    justify-content: center;
}

#rateMovie>ul {
    padding-left: 0;
    margin-left: 0;
    list-style-type: none;
}

#rateMovie>ul>p {
    padding-left: 1em;
    font-size: 125%;
}

#loanRules p {
    margin-left: auto;
    margin-right: auto;
    max-width: 70%;
}

#ratingInfo h4 {
    margin-left: 1em;
}

#ratingSystem>input {
    float: right;
    margin-right: 1em;
}