* {
    font-family: 'Nunito Sans', sans-serif;
}

html,
body {
    width: 100%;
    margin: 0;
    padding: 0;
    background: whitesmoke;
}

body {
    margin-left: auto;
    margin-right: auto;
}

main {
    padding-top: 0;
    margin-top: 0;
    box-sizing: border-box;
}

main>section {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
    padding-top: 1em;
    padding-bottom: 0;
    background: #CFEAFF;
}

#searchResultSection>h2 {
    margin-top: 0;
    padding-left: 1em;
}

#res_list {
    display: flex;
    flex-direction: column;
    width: 75%;
    list-style: none;
}
#res_list>li {
    margin-top: 0.2em;
    margin-bottom: 0.2em;
    padding-top: 1em;
    padding-left: 1em;
    background: #4c7;
}
#res_list>li>a {
    border-bottom: 1px solid black;
    margin-bottom: 0.5em;
    display: flex;
    flex-direction: row;
    text-decoration: none;
    padding-bottom: 0.5em;
}

#res_list>li>a:last-of-type {
    border-bottom: none;
}

#res_list>li>a>img {
    height: 160px;
    width: auto;
    margin-right: 0.5em;
}

#res_list>li>a>section {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.extraInfo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 1;
}
.extraInfo>p {
    color: black;
    font-size: 120%;
}
.addToList, .addToWish {
    max-height: 2.5em;
    margin-top: 0.5em;
    margin-left: 1em;
}
.addButtonSection {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}